<!-- <app-retail></app-retail> -->
<!-- <app-authent></app-authent> -->
<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
     MyApp
    </button>
        <!-- <span>My App</span> -->
        <span class="example-spacer"></span>
        <button mat-flat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="authent">
    Connexion
    </button>

        <button mat-flat-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="list">
    Liste
   </button>
    </mat-toolbar>
</p>
<router-outlet></router-outlet>